
@{
    ViewBag.Title = "Index";
}
<div id="gallery">
    <img alt="Rocks on the water"
         src="http://ps.unitegallery.net/img/unite-gallery/.unitegallery_thumbs/image04_300x100000.jpg"
         data-image="http://ps.unitegallery.net/img/unite-gallery/image04.jpg"
         data-description="Those are rocks on the water"
         style="display:none">
    <img alt="The Castle"
         src="http://ps.unitegallery.net/img/unite-gallery/.unitegallery_thumbs/image01_300x100000.jpg"
         data-image="http://ps.unitegallery.net/img/unite-gallery/image01.jpg"
         data-description="This is a castle"
         style="display:none">
    <img alt="Another Castle"
         src="http://ps.unitegallery.net/img/unite-gallery/.unitegallery_thumbs/image02_300x100000.jpg"
         data-image="http://ps.unitegallery.net/img/unite-gallery/image02.jpg"
         data-description="This is another castle"
         style="display:none">
    <img alt="Trees by the lake"
         src="http://ps.unitegallery.net/img/unite-gallery/.unitegallery_thumbs/image03_300x100000.jpg"
         data-image="http://ps.unitegallery.net/img/unite-gallery/image03.jpg"
         data-description="Those are trees by the lake"
         style="display:none">
    <img alt="Old Castle"
         src="http://ps.unitegallery.net/img/unite-gallery/.unitegallery_thumbs/image05_300x100000.jpg"
         data-image="http://ps.unitegallery.net/img/unite-gallery/image05.jpg"
         data-description="Another old beautiful castle"
         style="display:none">
    <img alt="Castle by the water"
         src="http://ps.unitegallery.net/img/unite-gallery/.unitegallery_thumbs/image06_300x100000.jpg"
         data-image="http://ps.unitegallery.net/img/unite-gallery/image06.jpg"
         data-description="This is a castle by the water"
         style="display:none">
    <img alt="Storm on the sea"
         src="http://ps.unitegallery.net/img/unite-gallery/.unitegallery_thumbs/image07_300x100000.jpg"
         data-image="http://ps.unitegallery.net/img/unite-gallery/image07.jpg"
         data-description="This is stormy see shore"
         style="display:none">
    <img alt="Old tree"
         src="http://ps.unitegallery.net/img/unite-gallery/.unitegallery_thumbs/image08_300x100000.jpg"
         data-image="http://ps.unitegallery.net/img/unite-gallery/image08.jpg"
         data-description="This is an old tree"
         style="display:none">
    <img alt="Alpine road"
         src="http://ps.unitegallery.net/img/unite-gallery/.unitegallery_thumbs/image09_300x100000.jpg"
         data-image="http://ps.unitegallery.net/img/unite-gallery/image09.jpg"
         data-description="This is an alpine road"
         style="display:none">
    <img alt="Desert view"
         src="http://ps.unitegallery.net/img/unite-gallery/.unitegallery_thumbs/image10_300x100000.jpg"
         data-image="http://ps.unitegallery.net/img/unite-gallery/image10.jpg"
         data-description="This is a desert view"
         style="display:none">
    <img alt="Green lake"
         src="http://ps.unitegallery.net/img/unite-gallery/.unitegallery_thumbs/image11_300x100000.jpg"
         data-image="http://ps.unitegallery.net/img/unite-gallery/image11.jpg"
         data-description="This is a green lake"
         style="display:none">
    <img alt="Nice view"
         src="http://ps.unitegallery.net/img/unite-gallery/.unitegallery_thumbs/image12_300x100000.jpg"
         data-image="http://ps.unitegallery.net/img/unite-gallery/image12.jpg"
         data-description="This is a nice view"
         style="display:none">
    <img alt="House near the lake"
         src="http://ps.unitegallery.net/img/unite-gallery/.unitegallery_thumbs/image13_300x100000.jpg"
         data-image="http://ps.unitegallery.net/img/unite-gallery/image13.jpg"
         data-description="This is a house near the lake"
         style="display:none">
    <img alt="Mountain View"
         src="http://ps.unitegallery.net/img/unite-gallery/.unitegallery_thumbs/image14_300x100000.jpg"
         data-image="http://ps.unitegallery.net/img/unite-gallery/image14.jpg"
         data-description="This is a mountain view"
         style="display:none">
    <img alt="Old Arc"
         src="http://ps.unitegallery.net/img/unite-gallery/.unitegallery_thumbs/image15_300x100000.jpg"
         data-image="http://ps.unitegallery.net/img/unite-gallery/image15.jpg"
         data-description="This is an old arc"
         style="display:none">
    <img alt="Old City"
         src="http://ps.unitegallery.net/img/unite-gallery/.unitegallery_thumbs/image16_300x100000.jpg"
         data-image="http://ps.unitegallery.net/img/unite-gallery/image16.jpg"
         data-description="This is an old city"
         style="display:none">
    <img alt="Winter Castle"
         src="http://ps.unitegallery.net/img/unite-gallery/.unitegallery_thumbs/image17_300x100000.jpg"
         data-image="http://ps.unitegallery.net/img/unite-gallery/image17.jpg"
         data-description="This is a winter castle"
         style="display:none">
    <img alt="See Shore"
         src="http://ps.unitegallery.net/img/unite-gallery/.unitegallery_thumbs/image18_300x100000.jpg"
         data-image="http://ps.unitegallery.net/img/unite-gallery/image18.jpg"
         data-description="This is a see shore"
         style="display:none">
    <img alt="Mountain Road"
         src="http://ps.unitegallery.net/img/unite-gallery/.unitegallery_thumbs/image19_300x100000.jpg"
         data-image="http://ps.unitegallery.net/img/unite-gallery/image19.jpg"
         data-description="This is an mountain road"
         style="display:none">
</div>
@section scripts{
    <script src="~/Scripts/unitegallery/js/unitegallery.min.js"></script>
    <link href="~/Scripts/unitegallery/css/unite-gallery.css" rel="stylesheet" />
    <script src="~/Scripts/unitegallery/themes/default/ug-theme-default.js"></script>
    <link href="~/Scripts/unitegallery/themes/default/ug-theme-default.css" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            var gallery = $("#gallery").unitegallery({
                theme_enable_text_panel: false,
                gallery_width: 1280,
                gallery_height: 720,
                gallery_autoplay: false,
                gallery_play_interval: 3000,
                thumb_width: 88,
                thumb_height: 50,
                thumb_fixed_size: true
            });
        });
    </script>
}