@{
    ViewBag.Title = "空气质量指数日报";
}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @*<a class="navbar-brand" href="#">Brand</a>*@
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul id="pollutantNav" class="nav navbar-nav">
                <li role="presentation" class="active" name="AQI"><a href="#">AQI</a></li>
                <li role="presentation" name="SO2"><a href="#">SO<sub>2</sub></a></li>
                <li role="presentation" name="NO2"><a href="#">NO<sub>2</sub></a></li>
                <li role="presentation" name="PM10"><a href="#">PM<sub>10</sub></a></li>
                <li role="presentation" name="CO"><a href="#">CO</a></li>
                <li role="presentation" name="O38H"><a href="#">O<sub>3</sub>-8H</a></li>
                <li role="presentation" name="PM25"><a href="#">PM<sub>2.5</sub></a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div id="chart" style="height:800px;"></div>
@section scripts{
    <script src="~/Scripts/echarts/dist/echarts.min.js"></script>
    <script src="~/Scripts/echarts/map/js/china.js"></script>
    <script src="~/Scripts/PollutantConst.js"></script>
    <script>
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('chart'));
        // 指定图表的配置项和数据
        var geoCoordMap = {
            "阿坝州": [102.228565, 31.905763],
            "阿克苏地区": [80.269846, 41.171731],
            "阿拉尔": [81.291737, 40.615680],
            "阿拉善盟": [105.695683, 38.843075],
            "阿勒泰地区": [88.137915, 47.839744],
            "阿里地区": [81.107669, 30.404557],
            "安康": [109.038045, 32.704370],
            "安庆": [117.058739, 30.537898],
            "安顺": [105.928270, 26.228595],
            "安阳": [114.351807, 36.110267],
            "鞍山": [123.007763, 41.118744],
            "澳门": [113.557519, 22.204118],
            "巴彦淖尔": [107.423807, 40.769180],
            "巴音郭楞": [86.121688, 41.771362],
            "巴中": [106.757916, 31.869189],
            "白城": [122.840777, 45.621086],
            "白沙": [109.358586, 19.216056],
            "白山": [126.435798, 41.945859],
            "白银": [104.171241, 36.546682],
            "百色": [106.631821, 23.901512],
            "蚌埠": [117.357080, 32.929499],
            "包头": [109.846239, 40.647119],
            "宝鸡": [107.170645, 34.364081],
            "保定": [115.494810, 38.886565],
            "保山": [99.177996, 25.120489],
            "保亭": [109.656113, 18.597592],
            "北海": [109.122628, 21.472718],
            "北京": [116.395645, 39.929986],
            "本溪": [123.778062, 41.325838],
            "毕节地区": [105.300492, 27.302612],
            "滨州": [117.968292, 37.405314],
            "亳州": [115.787928, 33.871211],
            "博尔塔拉州": [82.052436, 44.913651],
            "沧州": [116.863806, 38.297615],
            "昌都地区": [97.185582, 31.140576],
            "昌吉州": [87.296038, 44.007058],
            "昌江": [109.011300, 19.222483],
            "长春": [125.313642, 43.898338],
            "长沙": [112.979353, 28.213478],
            "长治": [113.120292, 36.201664],
            "常德": [111.653718, 29.012149],
            "常州": [119.981861, 31.771397],
            "巢湖": [117.880490, 31.608733],
            "朝阳": [120.446163, 41.571828],
            "潮州": [116.630076, 23.661812],
            "郴州": [113.037704, 25.782264],
            "成都": [104.067923, 30.679943],
            "承德": [117.933822, 40.992521],
            "澄迈": [109.996736, 19.693135],
            "池州": [117.494477, 30.660019],
            "赤峰": [118.930761, 42.297112],
            "崇左": [107.357322, 22.415455],
            "滁州": [118.324570, 32.317351],
            "楚雄州": [101.529382, 25.066356],
            "达州": [107.494973, 31.214199],
            "大理州": [100.223675, 25.596900],
            "大连": [121.593478, 38.948710],
            "大庆": [125.021840, 46.596709],
            "大同": [113.290509, 40.113744],
            "大兴安岭地区": [124.196104, 51.991789],
            "丹东": [124.338543, 40.129023],
            "儋州": [109.413973, 19.571153],
            "德宏州": [98.589434, 24.441240],
            "德阳": [104.402398, 31.131140],
            "德州": [116.328161, 37.460826],
            "迪庆州": [99.713682, 27.831029],
            "定安": [110.320090, 19.490991],
            "定西": [104.626638, 35.586056],
            "东方": [108.851010, 18.998161],
            "东莞": [113.763434, 23.043024],
            "东营": [118.583926, 37.487121],
            "鄂尔多斯": [109.993706, 39.816490],
            "鄂州": [114.895594, 30.384439],
            "恩施": [109.517433, 30.308978],
            "防城港": [108.351791, 21.617398],
            "佛山": [113.134026, 23.035095],
            "福州": [119.330221, 26.047125],
            "抚顺": [123.929820, 41.877304],
            "抚州": [116.360919, 27.954545],
            "阜新": [121.660822, 42.019250],
            "阜阳": [115.820932, 32.901211],
            "甘南州": [102.917442, 34.992211],
            "甘孜州": [101.969232, 30.055144],
            "赣州": [114.935909, 25.845296],
            "固原": [106.285268, 36.021523],
            "广安": [106.635720, 30.463984],
            "广元": [105.819687, 32.441040],
            "广州": [113.307650, 23.120049],
            "贵港": [109.613708, 23.103373],
            "贵阳": [106.709177, 26.629907],
            "桂林": [110.260920, 25.262901],
            "果洛州": [100.223723, 34.480485],
            "哈尔滨": [126.657717, 45.773225],
            "哈密地区": [93.528355, 42.858596],
            "海北州": [100.879802, 36.960654],
            "海东地区": [102.085207, 36.517610],
            "海口": [110.330802, 20.022071],
            "海南州": [100.624066, 36.284364],
            "海西州": [97.342625, 37.373799],
            "邯郸": [114.482694, 36.609308],
            "汉中": [107.045478, 33.081569],
            "杭州": [120.219375, 30.259244],
            "合肥": [117.282699, 31.866942],
            "和田地区": [79.930239, 37.116774],
            "河池": [108.069948, 24.699521],
            "河源": [114.713721, 23.757251],
            "菏泽": [115.463360, 35.262440],
            "贺州": [111.552594, 24.411054],
            "鹤壁": [114.297770, 35.755426],
            "鹤岗": [130.292472, 47.338666],
            "黑河": [127.500830, 50.250690],
            "衡水": [115.686229, 37.746929],
            "衡阳": [112.583819, 26.898164],
            "红河州": [103.384065, 23.367718],
            "呼和浩特": [111.660351, 40.828319],
            "呼伦贝尔": [119.760822, 49.201636],
            "湖州": [120.137243, 30.877925],
            "葫芦岛": [120.860758, 40.743030],
            "怀化": [109.986959, 27.557483],
            "淮安": [119.030186, 33.606513],
            "淮北": [116.791447, 33.960023],
            "淮南": [117.018639, 32.642812],
            "黄冈": [114.906618, 30.446109],
            "黄南州": [102.007600, 35.522852],
            "黄山": [118.293570, 29.734435],
            "黄石": [115.050683, 30.216127],
            "惠州": [114.410658, 23.113540],
            "鸡西": [130.941767, 45.321540],
            "吉安": [114.992039, 27.113848],
            "吉林市": [126.564544, 43.871988],
            "济南": [117.024967, 36.682785],
            "济宁": [116.600798, 35.402122],
            "佳木斯": [130.284735, 46.813780],
            "嘉兴": [120.760428, 30.773992],
            "嘉峪关": [98.281635, 39.802397],
            "江门": [113.078125, 22.575117],
            "焦作": [113.211836, 35.234608],
            "揭阳": [116.379501, 23.547999],
            "金昌": [102.208126, 38.516072],
            "金华": [119.652576, 29.102899],
            "锦州": [121.147749, 41.130879],
            "晋城": [112.867333, 35.499834],
            "晋中": [112.738514, 37.693362],
            "荆门": [112.217330, 31.042611],
            "荆州": [112.241866, 30.332591],
            "景德镇": [117.186523, 29.303563],
            "九江": [115.999848, 29.719640],
            "酒泉": [98.508415, 39.741474],
            "喀什地区": [75.992973, 39.470627],
            "开封": [114.351642, 34.801854],
            "克拉玛依": [84.881180, 45.594331],
            "克孜勒苏州": [76.137564, 39.750346],
            "昆明": [102.714601, 25.049153],
            "拉萨": [91.111891, 29.662557],
            "来宾": [109.231817, 23.741166],
            "莱芜": [117.684667, 36.233654],
            "兰州": [103.823305, 36.064226],
            "廊坊": [116.703602, 39.518611],
            "乐东": [109.062698, 18.658614],
            "乐山": [103.760824, 29.600958],
            "丽江": [100.229628, 26.875351],
            "丽水": [119.929576, 28.456300],
            "连云港": [119.173872, 34.601549],
            "凉山州": [102.259591, 27.892393],
            "辽阳": [123.172451, 41.273339],
            "辽源": [125.133686, 42.923303],
            "聊城": [115.986869, 36.455829],
            "林芝地区": [94.349985, 29.666941],
            "临沧": [100.092613, 23.887806],
            "临汾": [111.538788, 36.099745],
            "临高": [109.724101, 19.805922],
            "临夏州": [103.215249, 35.598514],
            "临沂": [118.340768, 35.072409],
            "陵水": [109.948661, 18.575985],
            "柳州": [109.422402, 24.329053],
            "六安": [116.505253, 31.755558],
            "六盘水": [104.852087, 26.591866],
            "龙岩": [117.017997, 25.078685],
            "陇南": [104.934573, 33.394480],
            "娄底": [111.996396, 27.741073],
            "泸州": [105.443970, 28.895930],
            "吕梁": [111.143157, 37.527316],
            "洛阳": [112.447525, 34.657368],
            "漯河": [114.046061, 33.576279],
            "马鞍山": [118.515882, 31.688528],
            "茂名": [110.931245, 21.668226],
            "眉山": [103.841430, 30.061115],
            "梅州": [116.126403, 24.304571],
            "绵阳": [104.705519, 31.504701],
            "牡丹江": [129.608035, 44.588521],
            "内江": [105.073056, 29.599462],
            "那曲地区": [92.067018, 31.480680],
            "南昌": [115.893528, 28.689578],
            "南充": [106.105554, 30.800965],
            "南京": [118.778074, 32.057236],
            "南宁": [108.297234, 22.806493],
            "南平": [118.181883, 26.643626],
            "南通": [120.873801, 32.014665],
            "南阳": [112.542842, 33.011420],
            "宁波": [121.579006, 29.885259],
            "宁德": [119.542082, 26.656527],
            "怒江州": [98.859932, 25.860677],
            "攀枝花": [101.722423, 26.587571],
            "盘锦": [122.073228, 41.141248],
            "平顶山": [113.300849, 33.745301],
            "平凉": [106.688911, 35.550110],
            "萍乡": [113.859917, 27.639544],
            "莆田": [119.077731, 25.448450],
            "濮阳": [115.026627, 35.753298],
            "普洱": [100.980058, 22.788778],
            "七台河": [131.019048, 45.775005],
            "齐齐哈尔": [123.987289, 47.347700],
            "潜江": [112.768768, 30.343116],
            "黔东南州": [107.985353, 26.583992],
            "黔南州": [107.523205, 26.264536],
            "黔西南州": [104.900558, 25.095148],
            "钦州": [108.638798, 21.973350],
            "秦皇岛": [119.604368, 39.945462],
            "青岛": [120.384428, 36.105215],
            "清远": [113.040773, 23.698469],
            "庆阳": [107.644227, 35.726801],
            "琼海": [110.414359, 19.214830],
            "琼中": [109.861849, 19.039771],
            "曲靖": [103.782539, 25.520758],
            "衢州": [118.875842, 28.956910],
            "泉州": [118.600362, 24.901652],
            "日喀则地区": [88.891486, 29.269023],
            "日照": [119.507180, 35.420225],
            "三门峡": [111.181262, 34.783320],
            "三明": [117.642194, 26.270835],
            "三亚": [109.522771, 18.257776],
            "山南地区": [91.750644, 29.229027],
            "汕头": [116.728650, 23.383908],
            "汕尾": [115.372924, 22.778731],
            "商洛": [109.934208, 33.873907],
            "商丘": [115.641886, 34.438589],
            "上海": [121.487899, 31.249162],
            "上饶": [117.955464, 28.457623],
            "韶关": [113.594461, 24.802960],
            "邵阳": [111.461525, 27.236811],
            "绍兴": [120.592467, 30.002365],
            "深圳": [114.025974, 22.546054],
            "神农架林区": [110.487231, 31.595768],
            "沈阳": [123.432791, 41.808645],
            "十堰": [110.801229, 32.636994],
            "石河子": [86.041865, 44.308259],
            "石家庄": [114.522082, 38.048958],
            "石嘴山": [106.379337, 39.020223],
            "双鸭山": [131.171402, 46.655102],
            "朔州": [112.479928, 39.337672],
            "四平": [124.391382, 43.175525],
            "松原": [124.832995, 45.136049],
            "苏州": [120.619907, 31.317987],
            "宿迁": [118.296893, 33.952050],
            "宿州": [116.988692, 33.636772],
            "绥化": [126.989095, 46.646064],
            "随州": [113.379358, 31.717858],
            "遂宁": [105.564888, 30.557491],
            "塔城地区": [82.974881, 46.758684],
            "台州": [121.440613, 28.668283],
            "太原": [112.550864, 37.890277],
            "泰安": [117.089415, 36.188078],
            "泰州": [119.919606, 32.476053],
            "唐山": [118.183451, 39.650531],
            "天津": [117.210813, 39.143930],
            "天门": [113.126230, 30.649047],
            "天水": [105.736932, 34.584319],
            "铁岭": [123.854850, 42.299757],
            "通化": [125.942650, 41.736397],
            "通辽": [122.260363, 43.633756],
            "铜川": [108.968067, 34.908368],
            "铜陵": [117.819429, 30.940930],
            "铜仁地区": [109.196161, 27.726271],
            "图木舒克": [79.198155, 39.889223],
            "吐鲁番地区": [89.181595, 42.960470],
            "屯昌": [110.063364, 19.347749],
            "万宁": [110.292505, 18.839886],
            "威海": [122.093958, 37.528787],
            "潍坊": [119.142634, 36.716115],
            "渭南": [109.483933, 34.502358],
            "温州": [120.690635, 28.002838],
            "文昌": [110.780909, 19.750947],
            "文山": [104.089112, 23.401781],
            "乌海": [106.831999, 39.683177],
            "乌兰察布": [113.112846, 41.022363],
            "乌鲁木齐": [87.564988, 43.840380],
            "无锡": [120.305456, 31.570037],
            "吴忠": [106.208254, 37.993561],
            "芜湖": [118.384108, 31.366020],
            "梧州": [111.305472, 23.485395],
            "五家渠": [87.565449, 44.368899],
            "五指山": [109.517750, 18.831306],
            "武汉": [114.316200, 30.581084],
            "武威": [102.640147, 37.933172],
            "西安": [108.953098, 34.277800],
            "西宁": [101.767921, 36.640739],
            "西双版纳": [100.803038, 22.009433],
            "锡林郭勒盟": [116.027340, 43.939705],
            "厦门": [118.103886, 24.489231],
            "仙桃": [113.387448, 30.293966],
            "咸宁": [114.300061, 29.880657],
            "咸阳": [108.707509, 34.345373],
            "香港": [114.186124, 22.293586],
            "湘潭": [112.935556, 27.835095],
            "湘西州": [109.745746, 28.317951],
            "襄阳": [112.176326, 32.094934],
            "孝感": [113.935734, 30.927955],
            "忻州": [112.727939, 38.461031],
            "新乡": [113.912690, 35.307258],
            "新余": [114.947117, 27.822322],
            "信阳": [114.085491, 32.128582],
            "兴安盟": [122.048167, 46.083757],
            "邢台": [114.520487, 37.069531],
            "徐州": [117.188107, 34.271553],
            "许昌": [113.835312, 34.026740],
            "宣城": [118.752096, 30.951642],
            "雅安": [103.009356, 29.999716],
            "烟台": [121.309555, 37.536562],
            "延安": [109.500510, 36.603320],
            "延边": [129.485902, 42.896414],
            "盐城": [120.148872, 33.379862],
            "扬州": [119.427778, 32.408505],
            "阳江": [111.977010, 21.871517],
            "阳泉": [113.569238, 37.869529],
            "伊春": [128.910766, 47.734685],
            "伊犁州": [81.297854, 43.922248],
            "宜宾": [104.633019, 28.769675],
            "宜昌": [111.310981, 30.732758],
            "宜春": [114.400039, 27.811130],
            "益阳": [112.366547, 28.588088],
            "银川": [106.206479, 38.502621],
            "鹰潭": [117.035450, 28.241310],
            "营口": [122.233391, 40.668651],
            "永州": [111.614648, 26.435972],
            "榆林": [109.745926, 38.279439],
            "玉林": [110.151676, 22.643974],
            "玉树州": [97.013316, 33.006240],
            "玉溪": [102.545068, 24.370447],
            "岳阳": [113.146196, 29.378007],
            "云浮": [112.050946, 22.937976],
            "运城": [111.006854, 35.038859],
            "枣庄": [117.279305, 34.807883],
            "湛江": [110.365067, 21.257463],
            "张家界": [110.481620, 29.124889],
            "张家口": [114.893782, 40.811188],
            "张掖": [100.459892, 38.939320],
            "漳州": [117.676205, 24.517065],
            "昭通": [103.725021, 27.340633],
            "肇庆": [112.479653, 23.078663],
            "镇江": [119.455835, 32.204409],
            "郑州": [113.649644, 34.756610],
            "中山": [113.422060, 22.545178],
            "中卫": [105.196754, 37.521124],
            "重庆": [106.530635, 29.544606],
            "舟山": [122.169872, 30.036010],
            "周口": [114.654102, 33.623741],
            "株洲": [113.131695, 27.827433],
            "珠海": [113.562447, 22.256915],
            "驻马店": [114.049154, 32.983158],
            "资阳": [104.635930, 30.132191],
            "淄博": [118.059134, 36.804685],
            "自贡": [104.776071, 29.359157],
            "遵义": [106.931260, 27.699961]
        };

        var convertData = function (data) {
            var res = [];
            for (var i = 0; i < data.length; i++) {
                var geoCoord = geoCoordMap[data[i].name];
                if (geoCoord) {
                    res.push({
                        name: data[i].name,
                        value: geoCoord.concat(data[i].value)
                    });
                }
            }
            return res;
        };

        function randomData() {
            return Math.round(Math.random() * 150 - 10);
        }

        var option = {
            backgroundColor: '#404a59',
            title: {
                text: '全国主要城市空气质量',
                subtext: 'AQI',
                x: 'center',
                textStyle: {
                    color: '#fff'
                }
            },
            tooltip: {
                trigger: 'item',
                formatter: function (params) {
                    if (params.value[2] < 0) return params.name + '：—';
                    else return params.name + '：' + params.value[2];
                }
            },
            visualMap: {
                type: 'piecewise',
                pieces: [
                        { gt: 300, label: '严重污染' },
                        { gt: 200, lte: 300, label: '重度污染' },
                        { gt: 150, lte: 200, label: '中度污染' },
                        { gt: 100, lte: 150, label: '轻度污染' },
                        { gt: 50, lte: 100, label: '良' },
                        { gte: 0, lte: 50, label: '优' },
                        { lt: 0, label: '无数据' }
                ],
                color: ['#7e0023', '#99004c', '#ff0000', '#ff7e00', '#ffff00', '#00e400', '#333333'],
                textStyle: {
                    color: '#fff'
                },
                show: true
            },
            geo: {
                map: 'china',
                roam: true,
                label: {
                    emphasis: {
                        show: false
                    }
                },
                itemStyle: {
                    normal: {
                        areaColor: '#323c48',
                        borderColor: '#111'
                    },
                    emphasis: {
                        areaColor: '#2a333d'
                    }
                }
            },
            series: [
                {
                    name: 'AQI',
                    type: 'scatter',
                    coordinateSystem: 'geo',
                    data: convertData([
                        { name: "阿坝州", value: randomData() },
                        { name: "阿克苏地区", value: randomData() },
                        { name: "阿拉尔", value: randomData() },
                        { name: "阿拉善盟", value: randomData() },
                        { name: "阿勒泰地区", value: randomData() },
                        { name: "阿里地区", value: randomData() },
                        { name: "安康", value: randomData() },
                        { name: "安庆", value: randomData() },
                        { name: "安顺", value: randomData() },
                        { name: "安阳", value: randomData() },
                        { name: "鞍山", value: randomData() },
                        { name: "澳门", value: randomData() },
                        { name: "巴彦淖尔", value: randomData() },
                        { name: "巴音郭楞", value: randomData() },
                        { name: "巴中", value: randomData() },
                        { name: "白城", value: randomData() },
                        { name: "白沙", value: randomData() },
                        { name: "白山", value: randomData() },
                        { name: "白银", value: randomData() },
                        { name: "百色", value: randomData() },
                        { name: "蚌埠", value: randomData() },
                        { name: "包头", value: randomData() },
                        { name: "宝鸡", value: randomData() },
                        { name: "保定", value: randomData() },
                        { name: "保山", value: randomData() },
                        { name: "保亭", value: randomData() },
                        { name: "北海", value: randomData() },
                        { name: "北京", value: randomData() },
                        { name: "本溪", value: randomData() },
                        { name: "毕节地区", value: randomData() },
                        { name: "滨州", value: randomData() },
                        { name: "亳州", value: randomData() },
                        { name: "博尔塔拉州", value: randomData() },
                        { name: "沧州", value: randomData() },
                        { name: "昌都地区", value: randomData() },
                        { name: "昌吉州", value: randomData() },
                        { name: "昌江", value: randomData() },
                        { name: "长春", value: randomData() },
                        { name: "长沙", value: randomData() },
                        { name: "长治", value: randomData() },
                        { name: "常德", value: randomData() },
                        { name: "常州", value: randomData() },
                        { name: "巢湖", value: randomData() },
                        { name: "朝阳", value: randomData() },
                        { name: "潮州", value: randomData() },
                        { name: "郴州", value: randomData() },
                        { name: "成都", value: randomData() },
                        { name: "承德", value: randomData() },
                        { name: "澄迈", value: randomData() },
                        { name: "池州", value: randomData() },
                        { name: "赤峰", value: randomData() },
                        { name: "崇左", value: randomData() },
                        { name: "滁州", value: randomData() },
                        { name: "楚雄州", value: randomData() },
                        { name: "达州", value: randomData() },
                        { name: "大理州", value: randomData() },
                        { name: "大连", value: randomData() },
                        { name: "大庆", value: randomData() },
                        { name: "大同", value: randomData() },
                        { name: "大兴安岭地区", value: randomData() },
                        { name: "丹东", value: randomData() },
                        { name: "儋州", value: randomData() },
                        { name: "德宏州", value: randomData() },
                        { name: "德阳", value: randomData() },
                        { name: "德州", value: randomData() },
                        { name: "迪庆州", value: randomData() },
                        { name: "定安", value: randomData() },
                        { name: "定西", value: randomData() },
                        { name: "东方", value: randomData() },
                        { name: "东莞", value: randomData() },
                        { name: "东营", value: randomData() },
                        { name: "鄂尔多斯", value: randomData() },
                        { name: "鄂州", value: randomData() },
                        { name: "恩施", value: randomData() },
                        { name: "防城港", value: randomData() },
                        { name: "佛山", value: randomData() },
                        { name: "福州", value: randomData() },
                        { name: "抚顺", value: randomData() },
                        { name: "抚州", value: randomData() },
                        { name: "阜新", value: randomData() },
                        { name: "阜阳", value: randomData() },
                        { name: "甘南州", value: randomData() },
                        { name: "甘孜州", value: randomData() },
                        { name: "赣州", value: randomData() },
                        { name: "固原", value: randomData() },
                        { name: "广安", value: randomData() },
                        { name: "广元", value: randomData() },
                        { name: "广州", value: randomData() },
                        { name: "贵港", value: randomData() },
                        { name: "贵阳", value: randomData() },
                        { name: "桂林", value: randomData() },
                        { name: "果洛州", value: randomData() },
                        { name: "哈尔滨", value: randomData() },
                        { name: "哈密地区", value: randomData() },
                        { name: "海北州", value: randomData() },
                        { name: "海东地区", value: randomData() },
                        { name: "海口", value: randomData() },
                        { name: "海南州", value: randomData() },
                        { name: "海西州", value: randomData() },
                        { name: "邯郸", value: randomData() },
                        { name: "汉中", value: randomData() },
                        { name: "杭州", value: randomData() },
                        { name: "合肥", value: randomData() },
                        { name: "和田地区", value: randomData() },
                        { name: "河池", value: randomData() },
                        { name: "河源", value: randomData() },
                        { name: "菏泽", value: randomData() },
                        { name: "贺州", value: randomData() },
                        { name: "鹤壁", value: randomData() },
                        { name: "鹤岗", value: randomData() },
                        { name: "黑河", value: randomData() },
                        { name: "衡水", value: randomData() },
                        { name: "衡阳", value: randomData() },
                        { name: "红河州", value: randomData() },
                        { name: "呼和浩特", value: randomData() },
                        { name: "呼伦贝尔", value: randomData() },
                        { name: "湖州", value: randomData() },
                        { name: "葫芦岛", value: randomData() },
                        { name: "怀化", value: randomData() },
                        { name: "淮安", value: randomData() },
                        { name: "淮北", value: randomData() },
                        { name: "淮南", value: randomData() },
                        { name: "黄冈", value: randomData() },
                        { name: "黄南州", value: randomData() },
                        { name: "黄山", value: randomData() },
                        { name: "黄石", value: randomData() },
                        { name: "惠州", value: randomData() },
                        { name: "鸡西", value: randomData() },
                        { name: "吉安", value: randomData() },
                        { name: "吉林市", value: randomData() },
                        { name: "济南", value: randomData() },
                        { name: "济宁", value: randomData() },
                        { name: "佳木斯", value: randomData() },
                        { name: "嘉兴", value: randomData() },
                        { name: "嘉峪关", value: randomData() },
                        { name: "江门", value: randomData() },
                        { name: "焦作", value: randomData() },
                        { name: "揭阳", value: randomData() },
                        { name: "金昌", value: randomData() },
                        { name: "金华", value: randomData() },
                        { name: "锦州", value: randomData() },
                        { name: "晋城", value: randomData() },
                        { name: "晋中", value: randomData() },
                        { name: "荆门", value: randomData() },
                        { name: "荆州", value: randomData() },
                        { name: "景德镇", value: randomData() },
                        { name: "九江", value: randomData() },
                        { name: "酒泉", value: randomData() },
                        { name: "喀什地区", value: randomData() },
                        { name: "开封", value: randomData() },
                        { name: "克拉玛依", value: randomData() },
                        { name: "克孜勒苏州", value: randomData() },
                        { name: "昆明", value: randomData() },
                        { name: "拉萨", value: randomData() },
                        { name: "来宾", value: randomData() },
                        { name: "莱芜", value: randomData() },
                        { name: "兰州", value: randomData() },
                        { name: "廊坊", value: randomData() },
                        { name: "乐东", value: randomData() },
                        { name: "乐山", value: randomData() },
                        { name: "丽江", value: randomData() },
                        { name: "丽水", value: randomData() },
                        { name: "连云港", value: randomData() },
                        { name: "凉山州", value: randomData() },
                        { name: "辽阳", value: randomData() },
                        { name: "辽源", value: randomData() },
                        { name: "聊城", value: randomData() },
                        { name: "林芝地区", value: randomData() },
                        { name: "临沧", value: randomData() },
                        { name: "临汾", value: randomData() },
                        { name: "临高", value: randomData() },
                        { name: "临夏州", value: randomData() },
                        { name: "临沂", value: randomData() },
                        { name: "陵水", value: randomData() },
                        { name: "柳州", value: randomData() },
                        { name: "六安", value: randomData() },
                        { name: "六盘水", value: randomData() },
                        { name: "龙岩", value: randomData() },
                        { name: "陇南", value: randomData() },
                        { name: "娄底", value: randomData() },
                        { name: "泸州", value: randomData() },
                        { name: "吕梁", value: randomData() },
                        { name: "洛阳", value: randomData() },
                        { name: "漯河", value: randomData() },
                        { name: "马鞍山", value: randomData() },
                        { name: "茂名", value: randomData() },
                        { name: "眉山", value: randomData() },
                        { name: "梅州", value: randomData() },
                        { name: "绵阳", value: randomData() },
                        { name: "牡丹江", value: randomData() },
                        { name: "内江", value: randomData() },
                        { name: "那曲地区", value: randomData() },
                        { name: "南昌", value: randomData() },
                        { name: "南充", value: randomData() },
                        { name: "南京", value: randomData() },
                        { name: "南宁", value: randomData() },
                        { name: "南平", value: randomData() },
                        { name: "南通", value: randomData() },
                        { name: "南阳", value: randomData() },
                        { name: "宁波", value: randomData() },
                        { name: "宁德", value: randomData() },
                        { name: "怒江州", value: randomData() },
                        { name: "攀枝花", value: randomData() },
                        { name: "盘锦", value: randomData() },
                        { name: "平顶山", value: randomData() },
                        { name: "平凉", value: randomData() },
                        { name: "萍乡", value: randomData() },
                        { name: "莆田", value: randomData() },
                        { name: "濮阳", value: randomData() },
                        { name: "普洱", value: randomData() },
                        { name: "七台河", value: randomData() },
                        { name: "齐齐哈尔", value: randomData() },
                        { name: "潜江", value: randomData() },
                        { name: "黔东南州", value: randomData() },
                        { name: "黔南州", value: randomData() },
                        { name: "黔西南州", value: randomData() },
                        { name: "钦州", value: randomData() },
                        { name: "秦皇岛", value: randomData() },
                        { name: "青岛", value: randomData() },
                        { name: "清远", value: randomData() },
                        { name: "庆阳", value: randomData() },
                        { name: "琼海", value: randomData() },
                        { name: "琼中", value: randomData() },
                        { name: "曲靖", value: randomData() },
                        { name: "衢州", value: randomData() },
                        { name: "泉州", value: randomData() },
                        { name: "日喀则地区", value: randomData() },
                        { name: "日照", value: randomData() },
                        { name: "三门峡", value: randomData() },
                        { name: "三明", value: randomData() },
                        { name: "三亚", value: randomData() },
                        { name: "山南地区", value: randomData() },
                        { name: "汕头", value: randomData() },
                        { name: "汕尾", value: randomData() },
                        { name: "商洛", value: randomData() },
                        { name: "商丘", value: randomData() },
                        { name: "上海", value: randomData() },
                        { name: "上饶", value: randomData() },
                        { name: "韶关", value: randomData() },
                        { name: "邵阳", value: randomData() },
                        { name: "绍兴", value: randomData() },
                        { name: "深圳", value: randomData() },
                        { name: "神农架林区", value: randomData() },
                        { name: "沈阳", value: randomData() },
                        { name: "十堰", value: randomData() },
                        { name: "石河子", value: randomData() },
                        { name: "石家庄", value: randomData() },
                        { name: "石嘴山", value: randomData() },
                        { name: "双鸭山", value: randomData() },
                        { name: "朔州", value: randomData() },
                        { name: "四平", value: randomData() },
                        { name: "松原", value: randomData() },
                        { name: "苏州", value: randomData() },
                        { name: "宿迁", value: randomData() },
                        { name: "宿州", value: randomData() },
                        { name: "绥化", value: randomData() },
                        { name: "随州", value: randomData() },
                        { name: "遂宁", value: randomData() },
                        { name: "塔城地区", value: randomData() },
                        { name: "台州", value: randomData() },
                        { name: "太原", value: randomData() },
                        { name: "泰安", value: randomData() },
                        { name: "泰州", value: randomData() },
                        { name: "唐山", value: randomData() },
                        { name: "天津", value: randomData() },
                        { name: "天门", value: randomData() },
                        { name: "天水", value: randomData() },
                        { name: "铁岭", value: randomData() },
                        { name: "通化", value: randomData() },
                        { name: "通辽", value: randomData() },
                        { name: "铜川", value: randomData() },
                        { name: "铜陵", value: randomData() },
                        { name: "铜仁地区", value: randomData() },
                        { name: "图木舒克", value: randomData() },
                        { name: "吐鲁番地区", value: randomData() },
                        { name: "屯昌", value: randomData() },
                        { name: "万宁", value: randomData() },
                        { name: "威海", value: randomData() },
                        { name: "潍坊", value: randomData() },
                        { name: "渭南", value: randomData() },
                        { name: "温州", value: randomData() },
                        { name: "文昌", value: randomData() },
                        { name: "文山", value: randomData() },
                        { name: "乌海", value: randomData() },
                        { name: "乌兰察布", value: randomData() },
                        { name: "乌鲁木齐", value: randomData() },
                        { name: "无锡", value: randomData() },
                        { name: "吴忠", value: randomData() },
                        { name: "芜湖", value: randomData() },
                        { name: "梧州", value: randomData() },
                        { name: "五家渠", value: randomData() },
                        { name: "五指山", value: randomData() },
                        { name: "武汉", value: randomData() },
                        { name: "武威", value: randomData() },
                        { name: "西安", value: randomData() },
                        { name: "西宁", value: randomData() },
                        { name: "西双版纳", value: randomData() },
                        { name: "锡林郭勒盟", value: randomData() },
                        { name: "厦门", value: randomData() },
                        { name: "仙桃", value: randomData() },
                        { name: "咸宁", value: randomData() },
                        { name: "咸阳", value: randomData() },
                        { name: "香港", value: randomData() },
                        { name: "湘潭", value: randomData() },
                        { name: "湘西州", value: randomData() },
                        { name: "襄阳", value: randomData() },
                        { name: "孝感", value: randomData() },
                        { name: "忻州", value: randomData() },
                        { name: "新乡", value: randomData() },
                        { name: "新余", value: randomData() },
                        { name: "信阳", value: randomData() },
                        { name: "兴安盟", value: randomData() },
                        { name: "邢台", value: randomData() },
                        { name: "徐州", value: randomData() },
                        { name: "许昌", value: randomData() },
                        { name: "宣城", value: randomData() },
                        { name: "雅安", value: randomData() },
                        { name: "烟台", value: randomData() },
                        { name: "延安", value: randomData() },
                        { name: "延边", value: randomData() },
                        { name: "盐城", value: randomData() },
                        { name: "扬州", value: randomData() },
                        { name: "阳江", value: randomData() },
                        { name: "阳泉", value: randomData() },
                        { name: "伊春", value: randomData() },
                        { name: "伊犁州", value: randomData() },
                        { name: "宜宾", value: randomData() },
                        { name: "宜昌", value: randomData() },
                        { name: "宜春", value: randomData() },
                        { name: "益阳", value: randomData() },
                        { name: "银川", value: randomData() },
                        { name: "鹰潭", value: randomData() },
                        { name: "营口", value: randomData() },
                        { name: "永州", value: randomData() },
                        { name: "榆林", value: randomData() },
                        { name: "玉林", value: randomData() },
                        { name: "玉树州", value: randomData() },
                        { name: "玉溪", value: randomData() },
                        { name: "岳阳", value: randomData() },
                        { name: "云浮", value: randomData() },
                        { name: "运城", value: randomData() },
                        { name: "枣庄", value: randomData() },
                        { name: "湛江", value: randomData() },
                        { name: "张家界", value: randomData() },
                        { name: "张家口", value: randomData() },
                        { name: "张掖", value: randomData() },
                        { name: "漳州", value: randomData() },
                        { name: "昭通", value: randomData() },
                        { name: "肇庆", value: randomData() },
                        { name: "镇江", value: randomData() },
                        { name: "郑州", value: randomData() },
                        { name: "中山", value: randomData() },
                        { name: "中卫", value: randomData() },
                        { name: "重庆", value: randomData() },
                        { name: "舟山", value: randomData() },
                        { name: "周口", value: randomData() },
                        { name: "株洲", value: randomData() },
                        { name: "珠海", value: randomData() },
                        { name: "驻马店", value: randomData() },
                        { name: "资阳", value: randomData() },
                        { name: "淄博", value: randomData() },
                        { name: "自贡", value: randomData() },
                        { name: "遵义", value: randomData() }
                    ]),
                    symbolSize: 12,
                    label: {
                        normal: {
                            show: false
                        },
                        emphasis: {
                            show: false
                        }
                    },
                    itemStyle: {
                        emphasis: {
                            borderColor: '#fff',
                            borderWidth: 1
                        }
                    }
                }
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);

        $(document).ready(function () {
            var scatterData = [];
            var pollutantConst = new PollutantConst();
            $("#pollutantNav > li").click(function () {
                $("#pollutantNav > li.active").removeClass("active");
                $(this).addClass("active");
                scatterData = convertData([
                        { name: "阿坝州", value: randomData() },
                        { name: "阿克苏地区", value: randomData() },
                        { name: "阿拉尔", value: randomData() },
                        { name: "阿拉善盟", value: randomData() },
                        { name: "阿勒泰地区", value: randomData() },
                        { name: "阿里地区", value: randomData() },
                        { name: "安康", value: randomData() },
                        { name: "安庆", value: randomData() },
                        { name: "安顺", value: randomData() },
                        { name: "安阳", value: randomData() },
                        { name: "鞍山", value: randomData() },
                        { name: "澳门", value: randomData() },
                        { name: "巴彦淖尔", value: randomData() },
                        { name: "巴音郭楞", value: randomData() },
                        { name: "巴中", value: randomData() },
                        { name: "白城", value: randomData() },
                        { name: "白沙", value: randomData() },
                        { name: "白山", value: randomData() },
                        { name: "白银", value: randomData() },
                        { name: "百色", value: randomData() },
                        { name: "蚌埠", value: randomData() },
                        { name: "包头", value: randomData() },
                        { name: "宝鸡", value: randomData() },
                        { name: "保定", value: randomData() },
                        { name: "保山", value: randomData() },
                        { name: "保亭", value: randomData() },
                        { name: "北海", value: randomData() },
                        { name: "北京", value: randomData() },
                        { name: "本溪", value: randomData() },
                        { name: "毕节地区", value: randomData() },
                        { name: "滨州", value: randomData() },
                        { name: "亳州", value: randomData() },
                        { name: "博尔塔拉州", value: randomData() },
                        { name: "沧州", value: randomData() },
                        { name: "昌都地区", value: randomData() },
                        { name: "昌吉州", value: randomData() },
                        { name: "昌江", value: randomData() },
                        { name: "长春", value: randomData() },
                        { name: "长沙", value: randomData() },
                        { name: "长治", value: randomData() },
                        { name: "常德", value: randomData() },
                        { name: "常州", value: randomData() },
                        { name: "巢湖", value: randomData() },
                        { name: "朝阳", value: randomData() },
                        { name: "潮州", value: randomData() },
                        { name: "郴州", value: randomData() },
                        { name: "成都", value: randomData() },
                        { name: "承德", value: randomData() },
                        { name: "澄迈", value: randomData() },
                        { name: "池州", value: randomData() },
                        { name: "赤峰", value: randomData() },
                        { name: "崇左", value: randomData() },
                        { name: "滁州", value: randomData() },
                        { name: "楚雄州", value: randomData() },
                        { name: "达州", value: randomData() },
                        { name: "大理州", value: randomData() },
                        { name: "大连", value: randomData() },
                        { name: "大庆", value: randomData() },
                        { name: "大同", value: randomData() },
                        { name: "大兴安岭地区", value: randomData() },
                        { name: "丹东", value: randomData() },
                        { name: "儋州", value: randomData() },
                        { name: "德宏州", value: randomData() },
                        { name: "德阳", value: randomData() },
                        { name: "德州", value: randomData() },
                        { name: "迪庆州", value: randomData() },
                        { name: "定安", value: randomData() },
                        { name: "定西", value: randomData() },
                        { name: "东方", value: randomData() },
                        { name: "东莞", value: randomData() },
                        { name: "东营", value: randomData() },
                        { name: "鄂尔多斯", value: randomData() },
                        { name: "鄂州", value: randomData() },
                        { name: "恩施", value: randomData() },
                        { name: "防城港", value: randomData() },
                        { name: "佛山", value: randomData() },
                        { name: "福州", value: randomData() },
                        { name: "抚顺", value: randomData() },
                        { name: "抚州", value: randomData() },
                        { name: "阜新", value: randomData() },
                        { name: "阜阳", value: randomData() },
                        { name: "甘南州", value: randomData() },
                        { name: "甘孜州", value: randomData() },
                        { name: "赣州", value: randomData() },
                        { name: "固原", value: randomData() },
                        { name: "广安", value: randomData() },
                        { name: "广元", value: randomData() },
                        { name: "广州", value: randomData() },
                        { name: "贵港", value: randomData() },
                        { name: "贵阳", value: randomData() },
                        { name: "桂林", value: randomData() },
                        { name: "果洛州", value: randomData() },
                        { name: "哈尔滨", value: randomData() },
                        { name: "哈密地区", value: randomData() },
                        { name: "海北州", value: randomData() },
                        { name: "海东地区", value: randomData() },
                        { name: "海口", value: randomData() },
                        { name: "海南州", value: randomData() },
                        { name: "海西州", value: randomData() },
                        { name: "邯郸", value: randomData() },
                        { name: "汉中", value: randomData() },
                        { name: "杭州", value: randomData() },
                        { name: "合肥", value: randomData() },
                        { name: "和田地区", value: randomData() },
                        { name: "河池", value: randomData() },
                        { name: "河源", value: randomData() },
                        { name: "菏泽", value: randomData() },
                        { name: "贺州", value: randomData() },
                        { name: "鹤壁", value: randomData() },
                        { name: "鹤岗", value: randomData() },
                        { name: "黑河", value: randomData() },
                        { name: "衡水", value: randomData() },
                        { name: "衡阳", value: randomData() },
                        { name: "红河州", value: randomData() },
                        { name: "呼和浩特", value: randomData() },
                        { name: "呼伦贝尔", value: randomData() },
                        { name: "湖州", value: randomData() },
                        { name: "葫芦岛", value: randomData() },
                        { name: "怀化", value: randomData() },
                        { name: "淮安", value: randomData() },
                        { name: "淮北", value: randomData() },
                        { name: "淮南", value: randomData() },
                        { name: "黄冈", value: randomData() },
                        { name: "黄南州", value: randomData() },
                        { name: "黄山", value: randomData() },
                        { name: "黄石", value: randomData() },
                        { name: "惠州", value: randomData() },
                        { name: "鸡西", value: randomData() },
                        { name: "吉安", value: randomData() },
                        { name: "吉林市", value: randomData() },
                        { name: "济南", value: randomData() },
                        { name: "济宁", value: randomData() },
                        { name: "佳木斯", value: randomData() },
                        { name: "嘉兴", value: randomData() },
                        { name: "嘉峪关", value: randomData() },
                        { name: "江门", value: randomData() },
                        { name: "焦作", value: randomData() },
                        { name: "揭阳", value: randomData() },
                        { name: "金昌", value: randomData() },
                        { name: "金华", value: randomData() },
                        { name: "锦州", value: randomData() },
                        { name: "晋城", value: randomData() },
                        { name: "晋中", value: randomData() },
                        { name: "荆门", value: randomData() },
                        { name: "荆州", value: randomData() },
                        { name: "景德镇", value: randomData() },
                        { name: "九江", value: randomData() },
                        { name: "酒泉", value: randomData() },
                        { name: "喀什地区", value: randomData() },
                        { name: "开封", value: randomData() },
                        { name: "克拉玛依", value: randomData() },
                        { name: "克孜勒苏州", value: randomData() },
                        { name: "昆明", value: randomData() },
                        { name: "拉萨", value: randomData() },
                        { name: "来宾", value: randomData() },
                        { name: "莱芜", value: randomData() },
                        { name: "兰州", value: randomData() },
                        { name: "廊坊", value: randomData() },
                        { name: "乐东", value: randomData() },
                        { name: "乐山", value: randomData() },
                        { name: "丽江", value: randomData() },
                        { name: "丽水", value: randomData() },
                        { name: "连云港", value: randomData() },
                        { name: "凉山州", value: randomData() },
                        { name: "辽阳", value: randomData() },
                        { name: "辽源", value: randomData() },
                        { name: "聊城", value: randomData() },
                        { name: "林芝地区", value: randomData() },
                        { name: "临沧", value: randomData() },
                        { name: "临汾", value: randomData() },
                        { name: "临高", value: randomData() },
                        { name: "临夏州", value: randomData() },
                        { name: "临沂", value: randomData() },
                        { name: "陵水", value: randomData() },
                        { name: "柳州", value: randomData() },
                        { name: "六安", value: randomData() },
                        { name: "六盘水", value: randomData() },
                        { name: "龙岩", value: randomData() },
                        { name: "陇南", value: randomData() },
                        { name: "娄底", value: randomData() },
                        { name: "泸州", value: randomData() },
                        { name: "吕梁", value: randomData() },
                        { name: "洛阳", value: randomData() },
                        { name: "漯河", value: randomData() },
                        { name: "马鞍山", value: randomData() },
                        { name: "茂名", value: randomData() },
                        { name: "眉山", value: randomData() },
                        { name: "梅州", value: randomData() },
                        { name: "绵阳", value: randomData() },
                        { name: "牡丹江", value: randomData() },
                        { name: "内江", value: randomData() },
                        { name: "那曲地区", value: randomData() },
                        { name: "南昌", value: randomData() },
                        { name: "南充", value: randomData() },
                        { name: "南京", value: randomData() },
                        { name: "南宁", value: randomData() },
                        { name: "南平", value: randomData() },
                        { name: "南通", value: randomData() },
                        { name: "南阳", value: randomData() },
                        { name: "宁波", value: randomData() },
                        { name: "宁德", value: randomData() },
                        { name: "怒江州", value: randomData() },
                        { name: "攀枝花", value: randomData() },
                        { name: "盘锦", value: randomData() },
                        { name: "平顶山", value: randomData() },
                        { name: "平凉", value: randomData() },
                        { name: "萍乡", value: randomData() },
                        { name: "莆田", value: randomData() },
                        { name: "濮阳", value: randomData() },
                        { name: "普洱", value: randomData() },
                        { name: "七台河", value: randomData() },
                        { name: "齐齐哈尔", value: randomData() },
                        { name: "潜江", value: randomData() },
                        { name: "黔东南州", value: randomData() },
                        { name: "黔南州", value: randomData() },
                        { name: "黔西南州", value: randomData() },
                        { name: "钦州", value: randomData() },
                        { name: "秦皇岛", value: randomData() },
                        { name: "青岛", value: randomData() },
                        { name: "清远", value: randomData() },
                        { name: "庆阳", value: randomData() },
                        { name: "琼海", value: randomData() },
                        { name: "琼中", value: randomData() },
                        { name: "曲靖", value: randomData() },
                        { name: "衢州", value: randomData() },
                        { name: "泉州", value: randomData() },
                        { name: "日喀则地区", value: randomData() },
                        { name: "日照", value: randomData() },
                        { name: "三门峡", value: randomData() },
                        { name: "三明", value: randomData() },
                        { name: "三亚", value: randomData() },
                        { name: "山南地区", value: randomData() },
                        { name: "汕头", value: randomData() },
                        { name: "汕尾", value: randomData() },
                        { name: "商洛", value: randomData() },
                        { name: "商丘", value: randomData() },
                        { name: "上海", value: randomData() },
                        { name: "上饶", value: randomData() },
                        { name: "韶关", value: randomData() },
                        { name: "邵阳", value: randomData() },
                        { name: "绍兴", value: randomData() },
                        { name: "深圳", value: randomData() },
                        { name: "神农架林区", value: randomData() },
                        { name: "沈阳", value: randomData() },
                        { name: "十堰", value: randomData() },
                        { name: "石河子", value: randomData() },
                        { name: "石家庄", value: randomData() },
                        { name: "石嘴山", value: randomData() },
                        { name: "双鸭山", value: randomData() },
                        { name: "朔州", value: randomData() },
                        { name: "四平", value: randomData() },
                        { name: "松原", value: randomData() },
                        { name: "苏州", value: randomData() },
                        { name: "宿迁", value: randomData() },
                        { name: "宿州", value: randomData() },
                        { name: "绥化", value: randomData() },
                        { name: "随州", value: randomData() },
                        { name: "遂宁", value: randomData() },
                        { name: "塔城地区", value: randomData() },
                        { name: "台州", value: randomData() },
                        { name: "太原", value: randomData() },
                        { name: "泰安", value: randomData() },
                        { name: "泰州", value: randomData() },
                        { name: "唐山", value: randomData() },
                        { name: "天津", value: randomData() },
                        { name: "天门", value: randomData() },
                        { name: "天水", value: randomData() },
                        { name: "铁岭", value: randomData() },
                        { name: "通化", value: randomData() },
                        { name: "通辽", value: randomData() },
                        { name: "铜川", value: randomData() },
                        { name: "铜陵", value: randomData() },
                        { name: "铜仁地区", value: randomData() },
                        { name: "图木舒克", value: randomData() },
                        { name: "吐鲁番地区", value: randomData() },
                        { name: "屯昌", value: randomData() },
                        { name: "万宁", value: randomData() },
                        { name: "威海", value: randomData() },
                        { name: "潍坊", value: randomData() },
                        { name: "渭南", value: randomData() },
                        { name: "温州", value: randomData() },
                        { name: "文昌", value: randomData() },
                        { name: "文山", value: randomData() },
                        { name: "乌海", value: randomData() },
                        { name: "乌兰察布", value: randomData() },
                        { name: "乌鲁木齐", value: randomData() },
                        { name: "无锡", value: randomData() },
                        { name: "吴忠", value: randomData() },
                        { name: "芜湖", value: randomData() },
                        { name: "梧州", value: randomData() },
                        { name: "五家渠", value: randomData() },
                        { name: "五指山", value: randomData() },
                        { name: "武汉", value: randomData() },
                        { name: "武威", value: randomData() },
                        { name: "西安", value: randomData() },
                        { name: "西宁", value: randomData() },
                        { name: "西双版纳", value: randomData() },
                        { name: "锡林郭勒盟", value: randomData() },
                        { name: "厦门", value: randomData() },
                        { name: "仙桃", value: randomData() },
                        { name: "咸宁", value: randomData() },
                        { name: "咸阳", value: randomData() },
                        { name: "香港", value: randomData() },
                        { name: "湘潭", value: randomData() },
                        { name: "湘西州", value: randomData() },
                        { name: "襄阳", value: randomData() },
                        { name: "孝感", value: randomData() },
                        { name: "忻州", value: randomData() },
                        { name: "新乡", value: randomData() },
                        { name: "新余", value: randomData() },
                        { name: "信阳", value: randomData() },
                        { name: "兴安盟", value: randomData() },
                        { name: "邢台", value: randomData() },
                        { name: "徐州", value: randomData() },
                        { name: "许昌", value: randomData() },
                        { name: "宣城", value: randomData() },
                        { name: "雅安", value: randomData() },
                        { name: "烟台", value: randomData() },
                        { name: "延安", value: randomData() },
                        { name: "延边", value: randomData() },
                        { name: "盐城", value: randomData() },
                        { name: "扬州", value: randomData() },
                        { name: "阳江", value: randomData() },
                        { name: "阳泉", value: randomData() },
                        { name: "伊春", value: randomData() },
                        { name: "伊犁州", value: randomData() },
                        { name: "宜宾", value: randomData() },
                        { name: "宜昌", value: randomData() },
                        { name: "宜春", value: randomData() },
                        { name: "益阳", value: randomData() },
                        { name: "银川", value: randomData() },
                        { name: "鹰潭", value: randomData() },
                        { name: "营口", value: randomData() },
                        { name: "永州", value: randomData() },
                        { name: "榆林", value: randomData() },
                        { name: "玉林", value: randomData() },
                        { name: "玉树州", value: randomData() },
                        { name: "玉溪", value: randomData() },
                        { name: "岳阳", value: randomData() },
                        { name: "云浮", value: randomData() },
                        { name: "运城", value: randomData() },
                        { name: "枣庄", value: randomData() },
                        { name: "湛江", value: randomData() },
                        { name: "张家界", value: randomData() },
                        { name: "张家口", value: randomData() },
                        { name: "张掖", value: randomData() },
                        { name: "漳州", value: randomData() },
                        { name: "昭通", value: randomData() },
                        { name: "肇庆", value: randomData() },
                        { name: "镇江", value: randomData() },
                        { name: "郑州", value: randomData() },
                        { name: "中山", value: randomData() },
                        { name: "中卫", value: randomData() },
                        { name: "重庆", value: randomData() },
                        { name: "舟山", value: randomData() },
                        { name: "周口", value: randomData() },
                        { name: "株洲", value: randomData() },
                        { name: "珠海", value: randomData() },
                        { name: "驻马店", value: randomData() },
                        { name: "资阳", value: randomData() },
                        { name: "淄博", value: randomData() },
                        { name: "自贡", value: randomData() },
                        { name: "遵义", value: randomData() }
                ]);
                option.series[0].data = scatterData;
                option.visualMap.pieces = pollutantConst.GetPieces('day', $(this).attr("name"), true);
                option.title.subtext = $(this).text();
                myChart.setOption(option);
                console.log(option.visualMap.pieces);
            });
            myChart.setOption(option);
        });
    </script>
}