
@{
    ViewBag.Title = "MapNC";
}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @*<a class="navbar-brand" href="#">Brand</a>*@
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul id="pollutantNav" class="nav navbar-nav">
                <li role="presentation" class="active" name="AQI"><a href="#">AQI</a></li>
                <li role="presentation" name="SO2"><a href="#">SO<sub>2</sub></a></li>
                <li role="presentation" name="NO2"><a href="#">NO<sub>2</sub></a></li>
                <li role="presentation" name="PM10"><a href="#">PM<sub>10</sub></a></li>
                <li role="presentation" name="CO"><a href="#">CO</a></li>
                <li role="presentation" name="O3"><a href="#">O<sub>3</sub></a></li>
                <li role="presentation" name="PM25"><a href="#">PM<sub>2.5</sub></a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div id="chart" style="height:800px;"></div>
<table id="pollutant" class="table table-bordered table-striped">
    <caption>全市站点情况</caption>
    <thead>
        <tr>
            <th>站点名称</th>
            <th>AQI</th>
            <th>首要污染物</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<div class="clearfix"></div>
@section scripts{
    <script src="~/Scripts/echarts/dist/echarts.min.js"></script>
    <script src="~/Scripts/echarts/map/js/city/nanchang.js"></script>
    <script src="~/Scripts/PollutantConst.js"></script>
    <script>
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('chart'));
        // 指定图表的配置项和数据
        var geoCoordMap = {
            "晋安区站点": [119.328597, 26.078837],
            "台江区站点": [119.310156, 26.058616],
            "马尾区站点": [119.458725, 25.991975],
            "仓山区站点": [119.320988, 26.038912],
            "闽侯县站点": [119.145117, 26.148567],
            "鼓楼区站点": [119.29929, 26.082284],
            "罗源县站点": [119.552645, 26.487234],
            "连江县站点": [119.538365, 26.202109],
            "闽清县站点": [118.868416, 26.223793],
            "平潭县站点": [119.791197, 25.503672],
            "永泰县站点": [118.939089, 25.864825],
            "福清市站点": [119.376992, 25.720402],
            "长乐市站点": [119.510849, 25.960583]
        };

        var convertData = function (data) {
            var res = [];
            for (var i = 0; i < data.length; i++) {
                var geoCoord = geoCoordMap[data[i].name];
                if (geoCoord) {
                    res.push({
                        name: data[i].name,
                        value: geoCoord.concat(data[i].value)
                    });
                }
            }
            return res;
        };

        function randomData() {
            return Math.round(Math.random() * 150);
        }

        var option = {
            backgroundColor: '#404a59',
            tooltip: {
                trigger: 'item',
                formatter: function (params) {
                    if (params.seriesName == 'station') {
                        return params.name + ' ' + params.value[2];
                    } else {
                        return params.name + ' ' + params.value;
                    }
                }
            },
            geo: {
                map: 'nanchang'
            },
            visualMap: {
                type: 'piecewise',
                pieces: [
                        { min: 301, max: 1000, label: '严重污染' },
                        { min: 201, max: 300, label: '重度污染' },
                        { min: 151, max: 200, label: '中度污染' },
                        { min: 101, max: 150, label: '轻度污染' },
                        { min: 51, max: 100, label: '良' },
                        { min: 0, max: 50, label: '优' }
                ],
                color: ['#7e0023', '#99004c', '#ff0000', '#ff7e00', '#ffff00', '#00e400'],
                textStyle: {
                    color: '#fff'
                },
                show: true
            },
            series: [
                {
                    name: 'district',
                    type: 'map',
                    mapType: 'nanchang',
                    label: {
                        normal: {
                            show: true
                        },
                        emphasis: {
                            show: true
                        }
                    },
                    data: [
                        { name: '青云谱区', value: randomData() },
                        { name: '湾里区', value: randomData() },
                        { name: '西湖区', value: randomData() },
                        { name: '新建区', value: randomData() },
                        { name: '进贤县', value: randomData() },
                        { name: '安义县', value: randomData() },
                        { name: '青山湖区', value: randomData() },
                        { name: '东湖区', value: randomData() },
                        { name: '南昌县', value: randomData() },
                        { name: '西湖区', value: randomData() }
                    ],
                    itemStyle: {
                        normal: {
                            borderColor: '#fff',
                            borderWidth: 3
                        }
                    }
                },
                {
                    name: 'station',
                    type: 'scatter',
                    coordinateSystem: 'geo',
                    data: [],
                    //data: convertData([
                    //    { name: '晋安区站点', value: randomData() },
                    //    { name: '台江区站点', value: randomData() },
                    //    { name: '马尾区站点', value: randomData() },
                    //    { name: '仓山区站点', value: randomData() },
                    //    { name: '闽侯县站点', value: randomData() },
                    //    { name: '鼓楼区站点', value: randomData() },
                    //    { name: '罗源县站点', value: randomData() },
                    //    { name: '连江县站点', value: randomData() },
                    //    { name: '闽清县站点', value: randomData() },
                    //    { name: '平潭县站点', value: randomData() },
                    //    { name: '永泰县站点', value: randomData() },
                    //    { name: '福清市站点', value: randomData() },
                    //    { name: '长乐市站点', value: randomData() }
                    //]),
                    symbolSize: 18,
                    symbol: 'pin',
                    itemStyle: {
                        normal: {
                            borderColor: '#333',
                            borderWidth: 2
                        }
                    }
                }
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);

        // 处理点击事件
        myChart.on('mouseover', function (params) {
            myChart.dispatchAction({
                type: 'downplay', name: params.name
            });
        });
        myChart.on('click', function (params) {
            if (params.seriesName == 'station') {
                $("#pollutant > tbody").append("<tr><td>" + params.name + "</td><td>" + params.value[2] + "</td><td></td></tr>");
            }
        });

        $(document).ready(function () {
            var mapData = [], scatterData = [];
            var pollutantConst = new PollutantConst();
            $("#pollutantNav > li").click(function () {
                $("#pollutantNav > li.active").removeClass("active");
                $(this).addClass("active");
                mapData = [
                        { name: '青云谱区', value: randomData() },
                        { name: '湾里区', value: randomData() },
                        { name: '西湖区', value: randomData() },
                        { name: '新建区', value: randomData() },
                        { name: '进贤县', value: randomData() },
                        { name: '安义县', value: randomData() },
                        { name: '青山湖区', value: randomData() },
                        { name: '东湖区', value: randomData() },
                        { name: '南昌县', value: randomData() },
                        { name: '西湖区', value: randomData() }
                ];
                //scatterData = convertData([
                //        { name: '晋安区站点', value: randomData() },
                //        { name: '台江区站点', value: randomData() },
                //        { name: '马尾区站点', value: randomData() },
                //        { name: '仓山区站点', value: randomData() },
                //        { name: '闽侯县站点', value: randomData() },
                //        { name: '鼓楼区站点', value: randomData() },
                //        { name: '罗源县站点', value: randomData() },
                //        { name: '连江县站点', value: randomData() },
                //        { name: '闽清县站点', value: randomData() },
                //        { name: '平潭县站点', value: randomData() },
                //        { name: '永泰县站点', value: randomData() },
                //        { name: '福清市站点', value: randomData() },
                //        { name: '长乐市站点', value: randomData() }
                //]);
                option.series[0].data = mapData;
                option.series[1].data = scatterData;
                option.visualMap.pieces = pollutantConst.GetPieces('hour', $(this).attr("name"));
                myChart.setOption(option);
            });

            var map = echarts.getMap("fuzhou");

            myChart.setOption(option);
        });
    </script>
}